/.gradle/
/.idea/
/local.properties
/build/
**/build/
/captures/
*.iml
.DS_Store
*.apk
*.ap_
*.aab
*.dex
*.keystore
*.jks
google-services.json
.env
.env.*
*.log
.cxx/
.externalNativeBuild/
/tools/icon_work/

